[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
selenium = "*"
requests = "*"
pyyaml = "*"
skpy = "*"
jira = "*"
psutil = "*"
pywin32 = "*"
appium-python-client = "*"
opencv-python = "*"
pytest-bdd = "*"
pytest-html = "*"
beautifulsoup4 = "*"
python-dateutil = "*"
delayed-assert = "*"
mysql-connector-python = "*"
marshmallow = "*"
pywinauto = "*"
pytest-testrail = "*"
testrail-api = "*"
google-oauth = "*"
pygsheets = "*"
google-api-python-client = "*"

[requires]
python_version = "3.7"
